<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Collaboration App | <%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>