<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head.ejs') %>
<body>
    <%- include('./../partials/nav.ejs') %>
    <div class="blogs content">
        <h1>User</h1>
        <h2>Forgot Password</h2>
    </div>
    <div class="create-blog content">
        <div id="errorMessage" style="color: red;"></div>
        <form id="signupForm">
            <label for="">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
            <div class="email error"></div>
            <button>Submit</button>
            <a href="/users/login" style="float: right;">Login</a>
        </form>
    </div>
    <%- include('./../partials/footer.ejs') %>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async function(event) {
            event.preventDefault();

            const email = form.email.value;

            try {
                const res = await fetch('/users/forgotPassword', {
                method: 'POST',
                body: JSON.stringify({email}),
                headers: {'Content-Type': 'application/json'}
            });

                const data = await res.json();

                if (res.ok) {
                    this.reset();

                    document.getElementById('errorMessage').innerText = '';
                    location.assign('/users/resetPassword');
                } else {
                    const errorMessage = data.message;
                    document.getElementById('errorMessage').innerText = errorMessage;
                }
            } catch (error) {
                console.error('Error occurred during signup:', error);
                document.getElementById('errorMessage').innerText = 'An error occurred during signup. Please try again later.';
            }
        });
    </script>

</body>
</html>