<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head.ejs') %>
<body>
    <%- include('./../partials/nav.ejs') %>
    <div class="blogs content">
        <h1>User</h1>
        <h2>Login Users</h2>
    </div>
    <div class="create-blog content">
        <div id="errorMessage" style="color: red;"></div>
        <form id="signupForm">
            <label for="">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
            <div class="email error"></div>
            <label for="">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <div class="password error"></div>
            <button>Login</button>
        </form>
    </div>
    <%- include('./../partials/footer.ejs') %>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async function(event) {
            event.preventDefault();
            // const formData = new FormData(this);

            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch('/users/login', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: {'Content-Type': 'application/json'}
            });

                const data = await res.json();

                if (res.ok) {
                    this.reset();
                    
                    // if we not use cookie-parser
                    // const token = data.token; 
                    // localStorage.setItem('token', token); 
                    // ::::::::::::::::::::::

                    document.getElementById('errorMessage').innerText = '';
                    location.assign('/messages');
                } else {
                    const errorMessage = data.message;
                    document.getElementById('errorMessage').innerText = errorMessage;
                }
            } catch (error) {
                console.error('Error occurred during signup:', error);
                document.getElementById('errorMessage').innerText = 'An error occurred during signup. Please try again later.';
            }
        });
    </script>

</body>
</html>